* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Abril Fatface", cursive;
  letter-spacing: 7px;
  text-transform: lowercase;
  color: white;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

p {
  letter-spacing: 5px;
}

.hero {
  background-image: url("../images/hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  text-align: center;
}
.hero h1 {
  color: white;
  font-size: 75px;
  letter-spacing: 7px;
  padding-top: 150px;
}

.content {
  background-color: #91AE90;
  width: 100%;
  margin: 0 auto;
  color: white;
}
.content .best-sellers {
  padding-top: 50px;
}
.content .best-sellers h3 {
  text-align: center;
  font-size: 40px;
  background-color: #648d61;
  border-radius: 20px;
  width: 400px;
  margin: 0 auto;
  padding: 5px;
}
.content .best-sellers .best-sellers-imgs {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 30px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.content .best-sellers .best-sellers-imgs div {
  width: 300px;
}
.content .best-sellers .best-sellers-imgs div img {
  width: 195px;
  height: 259px;
}

.aboutus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  padding-top: 50px;
  margin: 0 auto;
  letter-spacing: 5px;
  text-transform: lowercase;
}

.come-see-us {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 200px;
}
.come-see-us h1 {
  background-color: #648d61;
  border-radius: 20px;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 15px;
}

nav {
  background-color: #91AE90;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
nav a {
  text-decoration: none;
  color: white;
}

footer {
  background-color: #648d61;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
footer .links {
  display: flex;
  flex-direction: column;
}
footer .links a {
  color: white;
  text-decoration: none;
  letter-spacing: 5px;
}
footer .logo img {
  height: 145px;
}

.mission {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  margin: 0 auto;
  padding-top: 50px;
}
.mission .mission-img img {
  height: 300px;
}
.mission .mission-text {
  text-align: center;
  width: 50%;
}
.mission .mission-text h3 {
  background-color: #648d61;
  border-radius: 15px;
  width: 250px;
  font-size: 30px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 15px;
}
.mission .mission-text p {
  letter-spacing: 5px;
}

.commitment {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.commitment p {
  width: 50%;
  margin: 0 auto;
}
.commitment h3 {
  background-color: #648d61;
  border-radius: 15px;
  width: 500px;
  font-size: 30px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 15px;
}

.our-founders {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 70%;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}
.our-founders .founders-bio {
  text-align: center;
  width: 50%;
}
.our-founders .founders-bio h3 {
  background-color: #648d61;
  border-radius: 15px;
  width: 350px;
  font-size: 30px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 15px;
}

.hero-other {
  background-image: url("../images/hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  text-align: center;
}
.hero-other h1 {
  padding-top: 70px;
}

.products {
  background-color: #91AE90;
  width: 100%;
  margin: 0 auto;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 100px;
}
.products .product {
  width: 400px;
  text-align: center;
  padding-top: 50px;
}
.products .product h3 {
  background-color: #648d61;
  border-radius: 15px;
  width: 195px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  letter-spacing: 5px;
  padding: 5px;
}
.products .product p {
  width: 195px;
  margin: 0 auto;
  letter-spacing: 3px;
  font-size: 15px;
}
.products .product img {
  width: 195px;
  height: 259px;
}

/*# sourceMappingURL=styles.css.map */
