.hero-other {
    background-image: url("../images/hero.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    text-align: center;

    h1 {
        padding-top: 70px;
    }
}